name: Benchmark PR
on:
  pull_request_target:
    branches: [main]
permissions:
  pull-requests: write # needed to post comments

jobs:
  bench:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        julia-version: ["lts", "1", "pre"]
    steps:
      - uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: ${{ matrix.julia-version }}
          exeflags: "--threads=auto"
